h1 {
    text-align: center;
}

.navbar a {
    color: white;
}

#topo {
    background-image: url(doc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    min-height: 500px;    
}

.jumbotron {
    min-height: 400px;
}

.container {
    margin-top: 50px;
}

p.lead {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

#footer a {
    color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

a:hover {
    color: #DEB887 !important;
}

.lead.lista {
    text-align: left;
}

.lead.quote {
    font-style: italic;
}