h1 {
    text-align: center;
}

.navbar a {
    color: white;
}

#topo {
    background-image: url(doc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    min-height: 500px;
    
}

.jumbotron {
    min-height: 400px;
}

.container {
    margin-top: 50px;
}

p.lead {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

#footer a {
    color: black;
}
